# Ignorar archivos sensibles o generados
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/backup-*
wp-config.php

# Ignorar base de datos y sistema de WordPress completo si no lo necesitas

index.php
license.txt
readme.html
xmlrpc.php
wp-*.php
wp-admin/
wp-includes/

# Solo versionar tu tema hijo y plugins propios
!wp-content/themes/woodmart-child/
